* {
    font-family: 'Roboto', sans-serif !important;
}

body {
    background: #2F343A;
    color: #fff;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    min-width: 1110px;
    max-width: 1110px;
}

header .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}

#about .container {
    flex-direction: row;
}

.about-img {
    width: 600px;
    height: 320px;
}

.item-img {
    border-radius: 50%;
    border: none;
    background-color: white;
    padding: 20px;

    width: 30px;
    height: 30px;
}

.list-items {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    flex-wrap: wrap;
}

.list-items .item {
    width: 25%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

footer .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0 60px 0;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.info p:first-of-type, .phones p:first-of-type {
    margin-bottom: 10px;
}

footer {
    background-color: #393F47;
    width: 100%;
    display: flex;
    justify-content: center;
}